.search-select {
  min-width: 300px;
  .md-text-field-container--input {
    padding: 0 14px;
  }
  .no-results {
    padding: 16px 24px;
    font-size: 13px;
  }
}

#custom-select-menu {
  label {
    align-items: center;
    display: flex;

    i {
      margin-right: 5px;
    }
  }
}
